.page-home {
    //buat styling untuk pages home
    h5 {
        font-weight: 300;
        margin-bottom: 15px;
    }
    .store-trend-categories {
        //styling form trend
        margin-top: 30px;
    }
    .store-new-product {
        //styling form produk
        margin-top: 10px;
    }
}